.restlist {
  margin-top: 10px;
}

.restlist .list-group-item:hover{
    color: red;
    cursor: pointer;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.addrestdlg .form-control {
    margin-top:10px;
    margin-bottom:10px;
    width: 500px;
}

.pagination {
  justify-content: flex-end;
  margin-top: 10px;
}