.container {    
    box-shadow: 0px 5px 5px #ddd, 0 5px 20px #ccc;
    padding: 20px 20px 20px 20px;
}
.reviewlist {
    margin-top: 20px;
}
.rateus {
    margin-top: 10px;
    padding: 5px 0px 25px 20px;
    box-shadow: 0px 0px 5px gray;
}
.ratingBox {
    margin-top:10px;
    padding: 5px 0px 25px 0px;
    box-shadow: 0px 0px 5px gray;
}
.ratetag {
    margin: auto;
    margin-bottom: 20px;
}

.ratingContainer {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.lastRating {
    margin-left: 20px;
}